/*-- scss:defaults --*/
$font-family-sans-serif: Arial !default;
$font-weight-normal: 100 !default;
$h2-font-size: 1.6rem !default;
$headings-font-weight:  500 !default;

/*-- scss:rules --*/

.card-header{
  background-color: #80aaff;
}

.card-header-green {
  background-color: #28a745;
}

.card-header-red {
  background-color: #dc3545;
}

